<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the homepage</h1>
    <h2>This is a test page</h2>
    <form action="/sum" method="post">
        <input type="number" name="num1" placeholder="Enter first number" required>
        <input type="number" name="num2" placeholder="Enter second number" required>
        <button type="submit">Sum</button>
    </form>
    {% if result is not none %}
        <h1>Result: {{ result }}</h1>
    {% endif %}
</body>
</html>